/target/
/engine/target/
/pdfvlm/target/
/pdf/target/
/out/
/%OUT%/
/build/out/
/third_party/llama.cpp/build/
/third_party/llama.cpp/out/
/third_party/pdfium/bin/

*.pdb
*.exp
*.obj
*.lib
*.dll
*.so
*.dylib
*.exe
